/A.py
/addingcat.py
/allcat.txt
/Capture.PNG
/cateogry.py
/complete.PNG
/debug.log
/dictofval.txt
/done.PNG
/link.py
/main.py
/matcha.jpg
/new-unsplash-compressor.jpg
/new-unsplash.jpg
/notfound.txt
/notfoundtext.txt
/notrightnow.PNG
/products.py
/short.PNG
/start.PNG
/translate.PNG
/translationedit.PNG
/Youtube.py